*,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.containor{
    width: 100%;
    height: 100vh;
    background: linear-gradient(0deg,rgb(83,24,84),rgb(214, 211, 211));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.center{
    width: 400px;
    height: 450px;
    background-color: rgb(189, 119, 183);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
img {
    width: 190px;
    height: 190px;
    margin-top: 10px;
    border-radius: 50%;
    margin-top: 10px;
}

.span1{
 margin-top: 20px;
 font-size: 15px;
 padding: 10px;
 font-family:Tahoma;   
}
.span2{
    margin-top: 20px;
    font-family:Tahoma ;
}

.foot{
    width: 350px;
    height: 90px;
    background-color: rgba(178, 86, 180, 0.199);
    margin-top: 40px;
}
.imgs{
    width: 50px;
    height: 50px;
    margin: 20px 30px 10px 30px;
}
